In [1]:
# !pip install cx_Oracle - Python module that enables access to oracle database

Collecting cx_Oracle
  Downloading https://files.pythonhosted.org/packages/49/5a/c445cf6702b7ce9c46ea85406195bc29ece54ed82dc5534f115db47d5069/cx_Oracle-7.3.0-cp37-cp37m-win_amd64.whl (189kB)
Installing collected packages: cx-Oracle
Successfully installed cx-Oracle-7.3.0

In [2]:
import cx_Oracle

In [5]:
conn=cx_Oracle.connect("hr/hr@localhost")
cur=conn.cursor()
cur.execute("select first_name from employees") # queries are given as the arguments for .execute()
for line in cur:
    print(line)
cur.close()
conn.close()

('Ellen',)
('Sundar',)
('Mozhe',)
('David',)
('Hermann',)
('Shelli',)
('Amit',)
('Elizabeth',)
('Sarah',)
('David',)
('Laura',)
('Harrison',)
('Alexis',)
('Anthony',)
('Gerald',)
('Nanette',)
('John',)
('Kelly',)
('Karen',)
('Curtis',)
('Lex',)
('Julia',)
('Jennifer',)
('Louise',)
('Bruce',)
('Alberto',)
('Britney',)
('Daniel',)
('Pat',)
('Kevin',)
('Jean',)
('Tayler',)
('Adam',)
('Timothy',)
('Ki',)
('Girard',)
('William',)
('Douglas',)
('Kimberely',)
('Nancy',)
('Danielle',)
('Peter',)
('Michael',)
('Shelley',)
('Guy',)
('Alexander',)
('Alyssa',)
('Charles',)
('Vance',)
('Payam',)
('Alexander',)
('Janette',)
('Steven',)
('Neena',)
('Sundita',)
('Renske',)
('James',)
('David',)
('Jack',)
('Diana',)
('Jason',)
('Steven',)
('James',)
('Mattea',)
('Randall',)
('Susan',)
('Samuel',)
('Allan',)
('Irene',)
('Kevin',)
('Julia',)
('Donald',)
('Christopher',)
('TJ',)
('Lisa',)
('Karen',)
('Valli',)
('Joshua',)
('Randall',)
('Hazel',)
('Luis',)
('Trenna',)
('Den',)
('Michael',)
('John',)
('Nandita',)
('Ismael',)
('John',)
('Sarath',)
('Lindsey',)
('William',)
('Stephen',)
('Martha',)
('Patrick',)
('Jonathon',)
('Winston',)
('Sigal',)
('Peter',)
('Oliver',)
('Jose Manuel',)
('Peter',)
('Clara',)
('Shanta',)
('Alana',)
('Matthew',)
('Jennifer',)
('Eleni',)

In [12]:
conn=cx_Oracle.connect("hr/hr@localhost")
cur=conn.cursor()
cur.execute("select first_name, last_name,department_id from employees where department_id=80")
for line in cur:
    print(line)
cur.execute("select job_id,max(salary) from employees group by (job_id) order by max(salary) desc")

('Ellen', 'Abel', 80)
('Sundar', 'Ande', 80)
('Amit', 'Banda', 80)
('Elizabeth', 'Bates', 80)
('David', 'Bernstein', 80)
('Harrison', 'Bloom', 80)
('Gerald', 'Cambrault', 80)
('Nanette', 'Cambrault', 80)
('Louise', 'Doran', 80)
('Alberto', 'Errazuriz', 80)
('Tayler', 'Fox', 80)
('Danielle', 'Greene', 80)
('Peter', 'Hall', 80)
('Alyssa', 'Hutton', 80)
('Charles', 'Johnson', 80)
('Janette', 'King', 80)
('Sundita', 'Kumar', 80)
('David', 'Lee', 80)
('Jack', 'Livingston', 80)
('Mattea', 'Marvins', 80)
('Allan', 'McEwen', 80)
('Christopher', 'Olsen', 80)
('Lisa', 'Ozer', 80)
('Karen', 'Partners', 80)
('John', 'Russell', 80)
('Sarath', 'Sewall', 80)
('Lindsey', 'Smith', 80)
('William', 'Smith', 80)
('Patrick', 'Sully', 80)
('Jonathon', 'Taylor', 80)
('Peter', 'Tucker', 80)
('Oliver', 'Tuvault', 80)
('Clara', 'Vishney', 80)
('Eleni', 'Zlotkey', 80)

In [13]:
for line in cur:
    print(line)

('AD_PRES', 24000)
('AD_VP', 17000)
('SA_MAN', 14000)
('MK_MAN', 13000)
('AC_MGR', 12008)
('FI_MGR', 12008)
('SA_REP', 11500)
('PU_MAN', 11000)
('PR_REP', 10000)
('FI_ACCOUNT', 9000)
('IT_PROG', 9000)
('AC_ACCOUNT', 8300)
('ST_MAN', 8200)
('HR_REP', 6500)
('MK_REP', 6000)
('AD_ASST', 4400)
('SH_CLERK', 4200)
('ST_CLERK', 3600)
('PU_CLERK', 3100)

In [14]:
cur.value_counts()

AttributeError: 'cx_Oracle.Cursor' object has no attribute 'value_counts'